*.tif
*.TIF
*.mp3

# Ignore original satellite data only
/2017/
/2020/
/2024/

# Ignore other Landsat raw folder
/LC09_*/

# Allow optimized deployment data
!deployment_data/
!deployment_data/2017/
!deployment_data/2020/
!deployment_data/2024/
!deployment_data/**/*.TIF
!deployment_data/**/*.tif